version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: dispotify
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - dispotify_net
    ports:
      - "5435:5435"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: dispotify-api:latest
    environment:
      DATABASE_URL: postgresql://admin:password@db:5435/dispotify
    volumes:
      - ./backend:/app
      - music_files:/app/music_files
    networks:
      - dispotify_net
    ports:
      - "8000:8000"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://172.24.144.1:8000/api/v1/
    image: dispotify-frontend:latest
    environment:
      VITE_API_URL: http://172.24.144.1:8000/api/v1/
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - dispotify_net
    ports:
      - "3000:3000"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
    depends_on:
      - api

volumes:
  db_data:
  music_files:

networks:
  dispotify_net:
    driver: overlay
    attachable: true
